<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Plant</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f8ff;
            padding: 20px;
            text-align: center;
        }
        select, button {
            font-size: 18px;
            padding: 10px;
            margin-top: 20px;
        }
        h1 {
            font-size: 36px;
            color: #2c3e50;
        }
    </style>
</head>
<body>
    <h1>Choose the plant for disease prediction</h1>
    <form method="POST" action="{{ url_for('choose_disease') }}">
        <label for="selected_class">Select Plant:</label>
        <select name="selected_class" id="selected_class">
            {% for plant, diseases in plant_disease_mapping.items() %}
                <option value="{{ plant }}">{{ plant }}</option>
            {% endfor %}
        </select>
        <button type="submit">Select Plant</button>
    </form>
</body>
</html>
